doctype html
html
  head
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet")
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1.0, width=device-width')
    title
      block title
  body

    block main

    footer.footer
      div.container
        div.footer__wrap
          span.footer__title Disclaimer
          p Origin is a trademark of Electronic Arts Inc. Origin.onl is not affiliated, sponsored or endorsed by Electronic Arts in any ways. This is an unofficial fan website created for general information/educational purpose only. Any context found in this website is our personal opinions and do not purport to reflect the opinions or views of EA or its representatives.
          p All other trademarks are the property of their respective owners.