div.mobile-menu
  ul.mobile-menu
    li.mobile-menu__el
      a(href="#").mobile-menu__link Home
    li.mobile-menu__el
      a(href="#").mobile-menu__link What’s new?
    li.mobile-menu__el
      a(href="#").mobile-menu__link How to’s
    li.mobile-menu__el
      a(href="#").mobile-menu__link Contact us